table{
background-color: bisque;
color: black;
width: 100%;
table-layout: fixed;
border-collapse: collapse;
}


th, td{
padding: 10px;
text-align: start;
}


.cart_img{
display: flex;
max-width: 100px;
max-height: 50px;
justify-context: center;
align-item:center;
& img{
width: 100%;
height: 100%;
}
}