.detail_info{
background-color: bisque;
}

.wrapper{
padding: 20px;
display: flex;
gap: 10px;
}

.block_images {
    display: flex;
    gap: 10px;
    width: 50%;
}

.additional_image {
    max-width: 150px;
    max-height: 100px;
    & img {
        width: 100%;
        height: 100%;
    }
}

.additional_images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block_info{
color: black;
}

.enter{
padding: 5px;
background-color: LemonChiffon;
border-radius: 5px;
color: darkmagenta;
display: flex;
align-items: center;
flex-direction: column;

font-family: "Lemon_Tuesday";
font-size: 15px;
font-weight: 400;
font-style: normal;

&:hover{
background-color: coral;
color: bisque;
}
}