.main {

}

.main_header{
max-width: 100%;
height: 120px;
background-color: blueviolet;
padding: 15px 20px;
}

.social_accaunt_title{
display: flex;
align-items: center;
flex-direction:column;
}

.navigation_bar{
max-width: 100%;
height: 40px;
background-color: brown;

align-items: center;
display: flex;
justify-content: space-between;
padding: 0 30px;
align-items: center;
}

.list_card{
max-width: 100%;
height: 100%;
background-color: bisque;
}

.header_list_logo{
max-width: 200px ;
height: 100px;
}

.header_list_logo img{
max-width: 100%;
height: 100%;
object-fit:contain;
}

.main_header_list{
display: flex;
align-items: centre;
justify-content: space-between;
}

.header_left{
display: flex;
align-items: centre;
gap: 40px;
}

.social_accaunt_list{
display: flex;
max-width: 100%;
gap: 5px;
}

.social_accaunt_item a{
max-width: 32px;
max-height: 32px;
}

.social_accaunt_item a img{
width: 100%;
height: 100%;
object-fit:contain;
}


.header_list_social_account{
display: flex;
align-items: center;
flex-direction: column;
}

.header_right{
display: flex;
align-items: center;
gap: 40px
}

.autorization{
display: flex;
flex-direction: column;
gap: 15px;
}

.autorization_button{
padding: 5px;
background-color: bisque;
border-radius: 5px;
color: darkmagenta;

font-family: "Lemon_Tuesday";
font-size: 15px;
font-weight: 400;
font-style: normal;

&:hover{
background-color: coral;
color: bisque;
position: relative;
transition: 0.3s ease;
opacity: 1;
}
&:active{
top: 2px;
transition: 0.1s ease;
}
}

.phone_number_list{
display: flex;
flex-direction: column;
gap: 5px;
}

.phone_number_item{
font-family: "Lemon_Tuesday";
font-size: 15px;
font-weight: 400;
font-style: normal;
}

.list_wrapper {
display:flex;
flex-wrap: wrap;
gap: 20px;
padding: 0 20px 20px 20px;

}

.card{
height: 300px;
width: 250px;
background-color: chocolate;
margin-top: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
font-family: "Lemon_Tuesday";
font-size: 15px;
font-weight: 400;
font-style: normal;
border-radius: 20%;
}

.card_img{
max-width: 200px;
max-height: 200px;
    & img{
    border-radius: 30%;
    width: 100%;
    height: 100%;
object-fit: contain;
    }
   }



.navigation_list{
display: flex;
gap: 10px;
}

.navigation_item{
background-color: bisque;
padding: 5px;
color: coral;
& a{
font-family: "Lemon_Tuesday";
font-size: 15px;
font-weight: 400;
font-style: normal;
}
&:hover{
background-color: coral;
color: bisque;
}
}

.basket{
display: flex;
gap: 5px;
padding: 5px;
color: black;
background-color: white;
align-items: center;
justify-content: center;
border-radius: 5px;
}


.basket_img{
max-height: 25px;
max-width: 25px;
& img{
width: 100%;
height: 100%;

}
}

.search_drop{
display:none;
background-color: white;
position: absolute;
width: 204px;
margin-top: 10px;
border-radius: 5px;
}

.search_drop-item-img{
max-height: 50px;
max-width: 70px;
& img{
height: 100%;
width: 100%;
}
}

.search_drop-item{
display: flex;
align-items: center;
color: black;
padding: 5px;
gap: 10px;
&:hover {
background-color:aquamarine;
}
}

