<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/null.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylu.css' %}">
    {% block css %}
    {% endblock %}
    <title>000000</title>
</head>
<body>
<div class="main">
    <div class="main_header">
            <div class="main_header_list">
                <div class="header_left">
        <a class="header_list_logo" href=" {% url 'home' %}">
            <img src="{% static 'img/logo.png'%}" alt="">
        </a>
            <div class="header_list_social_account">
                <p class="social_accaunt_title">Социальные сети:</p>
                <ul class="social_accaunt_list">
                    <li class="social_accaunt_item">
                        <a href="#">
                        <img src="{% static 'img/insta.jpg'%}" alt="">
                        </a>
                    </li>
                     <li class="social_accaunt_item">
                        <a href="#">
                        <img src="{% static 'img/telega.jpg'%}" alt="">
                        </a>
                    </li>
                     <li class="social_accaunt_item">
                        <a href="#">
                        <img src="{% static 'img/tiktok.jpg'%}" alt="">
                        </a>
                    </li>
                     <li class="social_accaunt_item">
                        <a href="#">
                        <img src="{% static 'img/watsap.jpg'%}" alt="">
                        </a>
                    </li>
                     <li class="social_accaunt_item">
                        <a href="#">
                        <img src="{% static 'img/y.jpg'%}" alt="">
                        </a>
                    </li>
                </ul>
            </div>
                    </div>
                <div class="header_right">
                    <ul class="phone_number_list">
                        <li class="phone_number_item">
                            2345678987654
                        </li>
                        <li class="phone_number_item">
                            2345678987654
                        </li>
                        <li class="phone_number_item">
                            2345678987654
                        </li>
                    </ul>
                    <div class="autorization">
                        {% if user.is_authenticated %}
                        <a class="autorization_button" href="{% url 'kabinet' %}">{{user.username}}</a>
                        <a class="autorization_button" href="{% url 'logaut' %}">Exit</a>
                        {% else %}
                         <a class="autorization_button" href="{% url 'registration' %}">Регистрация</a>
                        <a class="autorization_button" href="{% url 'autoriz' %}">Авторизация</a>
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>
    <div class="navigation_bar">

           <div><ul class="navigation_list">
                <li class="navigation_item">
                <a href="{% url 'add_car' %}" >
                    Добавить авто
                </a>
                </li>
            </ul>
               </div>
            <div class="brand">
                <form action=" {% url 'brand' %} ">
                    <select name="brand" >
                        {% for bran in brand %}
                        <option value="{{ bran.id }}" >
                            {{ bran }}
                        </option>
                        {% endfor %}
                    </select>
                    <button>Отобразить</button>
                </form>
            </div>
            <div class="manufacturer">
                <form action="{% url 'brand' %}">
                    <select name="manufacturer" multiple size="2">
                        {% for manufactur in manufacturer %}
                        <option value="{{ manufactur.id }}">
                                {{ manufactur }}
                        </option>
                         {% endfor %}
                    </select>
                    <button>Отобразить</button>
                </form>
            </div>
            <div class="search">
                <form action=" {% url 'search' %} " class="search_form">
                    {% csrf_token %}
                    <input type="text" placeholder="Поиск" name="search" id="search">
                    <button>Найти</button>
                    <div class="search_drop"></div>
                </form>
            </div>
            <a href="{% url 'cart_detali' %}" class="basket">
                <div class="basket_img">
                    <img src="{% static 'img/korzina.png' %}" alt="">
                </div>
                <p>
                    {{ cart|length }}
                </p>
            </a>

    </div>
    {% block content %}
    <div class="list_card">
        <div class="list_wrapper">
            {% for car in cars %}
            <article>
                <a href="{% url 'detail_info' car.id%}" class="card">
                    <div class="card_img">
                        <img src="{{ car.image.url }}" alt="">
                    </div>
                    <p class="card_title">
                        {{ car.brand }} {{ car.model }}
                    </p>
                    <p class="card_rice">
                        {{ car.price }}
                    </p>
                </a>
            </article>

            {% endfor %}
        </div>
    </div>
    {% endblock %}
</div>
<script src="{% static 'js/search.js' %}"></script>
</body>
</html>